* {
  box-sizing: border-box;
}

html {
  font-family: "Work sans";
  color: rgb(43, 41, 45);
}

@media (min-width: 320px) {
  .audience {
    background-color: rgba(0, 161, 198, 0.07);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 320px;
    height: 1808px;
  }
  .audience__engage {
    display: block;
    margin: 0;
    margin: auto;
    width: 290px;
    line-height: 34px;
    height: 34px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 50px 15px 17px 15px;
  }
  .audience__target {
    display: block;
    margin: 0;
    margin: auto;
    padding: 0;
    width: 290px;
    line-height: 40px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    word-spacing: -0.36px;
    margin: 0px 15px 18px 15px;
  }
  .audience__text-info {
    margin: 0;
    margin: auto;
    padding: 0;
    width: 290px;
    display: block;
    color: rgb(43, 41, 45);
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    word-spacing: -0.36px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .audience__action-buttons {
    margin: 0;
    margin: auto;
    padding: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .audience__actionces_get-started-btn {
    padding: 0;
    margin: 0;
    width: 290px;
    height: 48px;
    margin-bottom: 12px;
    border-radius: 2px;
    border: none;
    background-color: rgb(48, 64, 196);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
  .audience__actionces_learn-more-btn {
    padding: 0;
    margin: 0;
    width: 290px;
    height: 48px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
  }
  .audience__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .audience .gallery__items {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    background-color: #fff;
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .audience__items_img {
    width: 138px;
    height: 195px;
    padding-bottom: 22px;
  }
  .audience .gallery__items_dev,
.audience .gallery__items_athl,
.audience .gallery__items_creat {
    color: rgb(43, 41, 45);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 22px;
  }
  .audience .gallery__items_ent {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 22px;
  }
  .audience .gallery__items_selected {
    background-color: #3141C5;
  }
}
@media (min-width: 320px) and (min-width: 1400px) {
  .audience {
    background-color: rgba(0, 161, 198, 0.07);
  }
}

/*# sourceMappingURL=styles.css.map */
