@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 106px;
  width: 1140px;
}
.customers__logo {
    filter: brightness(0);
}