@import 'breakpoints.scss';
@import 'variables.scss';

.top-section {
  padding-top: 39px;
  background-color: $bgc-header;
}
.header {
  display: flex;
  margin: auto;
  width: 1140px;
  height: 62px;
}
.navigation {
  display: flex;
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
.nav__item {
  margin-right: 50px;
  line-height: 25px;
  color: $text-color-header;
  text-decoration: none;
  font-size: 18px;
}
.nav__item_selected {
  font-weight: 700;
}

.nav__item:last-child {
  margin-right: 0px;
}
.nav__arrow {
  display: inline-block;
  margin-left: 11px;
  width: 8px;
  height: 5px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}
.logo {
  display: flex;
}
.logo__image {
  margin-right: 15px;
  width: 60px;
  height: 60px;
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__descrip {
  line-height: 25px;
  font-size: 18px;
  color: $text-color-header;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
