@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.headline {
  display: flex;
  position: relative;
  margin: auto;
  padding-bottom: 77px;
  margin-top: 84px;
  width: 1140px;
}
.headline__content {
  position: absolute;
  z-index: 1;
}
.headline__banner {
  position: relative;
  top: 0px;
  right: -105px;
  margin-left: auto;
  width: 796px;
  height: 448px;
}
.headline__title {
  margin: 0;
  width: 754px;
  height: 165px;
  line-height: 78px;
  font-size: 80px;
  letter-spacing: -0.5px;
  color: $text-color-maine;
  z-index: 1;
}
.headline__description {
  margin-top: 34px;
  margin-bottom: 0px;
  width: 456px;
  height: 102px;
  line-height: 34px;
  font-size: 24px;
  z-index: 1;
}
.headline__actions {
    display: flex;
  margin-top: 58px;
}
.headline__more-learn-btn {
  margin-left: 10px;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  color: $bgc-button-gs;
  background-color: $bgc-button-lm;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: $border-r;
  border: none;
}
