@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.headline {
  @include for-small {
    width: 100%;
  }
  @include for-large {
    display: flex;
    position: relative;
    margin: auto;
    padding-bottom: 77px;
    margin-top: 84px;
    width: 1140px;
  }
  &__content {
    @include for-small {
      margin: 35px 15px 33px 15px;
    }
    @include for-large {
      margin: 0;
      position: absolute;
      z-index: 1;
    }
  }

  &__banner {
    @include for-small {
      margin-bottom: 36px;
      width: 100%;
    }
    @include for-large {
      position: relative;
      top: 0px;
      right: -105px;
      margin-left: auto;
      width: 796px;
      height: 448px;
    }
  }

  &__title {
    @include for-small {
      line-height: 50px;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: -0.31px;
    }
    @include for-large {
      margin: 0;
      width: 754px;
      height: 165px;
      line-height: 78px;
      font-size: 80px;
      letter-spacing: -0.5px;
      color: $text-color-maine;
      z-index: 1;
    }
  }

  &__description {
    @include for-small {
      margin-top: 24px;
      margin-bottom: 0px;
      line-height: 34px;
      font-size: 24px;
    }
    @include for-large {
      margin-top: 34px;
      margin-bottom: 0px;
      width: 456px;
      height: 102px;
      line-height: 34px;
      font-size: 24px;
      z-index: 1;
    }
  }

  &__actions {
    @include for-small {
      margin-top: 30px;
    }
    @include for-large {
      display: flex;
      margin-top: 58px;
    }
  }

  &__more-learn-btn {
    @include for-small {
      margin-top: 15px;
      width: 158px;
      height: 48px;
      font-size: 18px;
      font-weight: 700;
      color: $bgc-button-gs;
      background-color: $bgc-button-lm;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      border-radius: $border-r;
      border: none;
    }
    @include for-large {
      margin-left: 10px;
      margin-top: 0;
    }
  }
  &__actions-btn {
    @include for-large {
      width: 100%;
    }
  }
}
