@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';

.top-section {
  @include for-small {
    padding-top: 39px;
    background-color: $bgc-header;
  }
}
.header {
  @include for-small {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 64px;
    background-color: $gallery-bgcolor-primaru;
  }
  @include for-large {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background: transparent;
  }
  &__button {
    @include for-small {
      display: none;
    }
    @include for-large {
      display: block;
    }
  }
  &__menu-icon {
    @include for-small {
      width: 18px;
      height: 13px;
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
      display: inline-block;
    }
    &__menu-button {
      margin-left: auto;
      width: 58px;
      height: 100%;
      border: none;
      border-left: 1px solid $color-header__menu-button;
      background: transparent;
    }
    @include for-large {
      display: none;
    }
  }

  .logo__descrip {
    @include for-small {
      display: none;
    }
    @include for-large {
      display: block;
    }
  }
}

.navigation {
  @include for-small {
    display: none;
    &__item {
      margin-right: 50px;
      line-height: 25px;
      color: $text-color-header;
      text-decoration: none;
      font-size: 18px;
    }
    &__item_selected {
      font-weight: 700;
    }

    &__item:last-child {
      margin-right: 0px;
    }
    &__arrow {
      display: inline-block;
      margin-left: 11px;
      width: 8px;
      height: 5px;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    }
  }
  @include for-large {
    display: flex;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}

.logo {
  @include for-small {
    display: flex;

    &__image {
      margin-right: 13px;
      width: 48px;
      height: 48px;
    }
    @include for-large {
      margin-right: 15px;
      width: 60px;
      height: 60px;
    }
  }

  &__name {
    @include for-small {
      line-height: 25px;
      font-size: 20px;
      font-weight: 700;
    }
    &__descrip {
      display: none;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.top-section {
  @include for-small {
    background-color: $bgc-header;
  }
  @include for-large {
    padding-top: 39px;
    background-color: $bgc-header;
  }
}
.nav__item {
  @include for-large {
    margin-right: 50px;
    line-height: 25px;
    color: $text-color-header;
    text-decoration: none;
    font-size: 18px;
  }
}

.nav__item_selected {
  @include for-large {
    font-weight: 700;
  }
}
.nav__item:last-child {
  @include for-large {
    margin-right: 0px;
  }
}
.nav__arrow {
  @include for-large {
    display: inline-block;
    margin-left: 11px;
    width: 8px;
    height: 5px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
}
