@import 'breakpoints.scss';
@import 'variables.scss';
@import 'audience.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'common.scss';
@import 'about.scss';
@import 'customers.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work sans';
  font-size: 16px;
  color: $text-color-maine;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  min-height: 100vh;
}
